body {
    background: radial-gradient(ellipse at center, #27aae1 0%, #27aae1 52%, #1c75bc 100%);
}

.btn {
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 7px 10px 5px;
    height: 50px;
    min-width: 192px;
    border-radius: 25px;
    border: 1px solid;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary {
    background: #fff;
    border-color: #fff;
    color: #1c75bc;
}
